# App
gradio
openai
sentence-transformers
transformers
torch
torchvision
scikit-learn
xgboost
joblib
pandas
numpy
pypdf
requests
Pillow
accelerate

# Training
matplotlib
seaborn
shap
datasets
evaluate
kaggle
